@font-face {
  font-family: "bebasBold";
  src: url("../fonts/bebasneue/BebasNeue Bold.otf");
}
@font-face {
  font-family: "bebasBook";
  src: url("../fonts/bebasneue/BebasNeue Book.otf");
}
@font-face {
  font-family: "bebasLight";
  src: url("../fonts/bebasneue/BebasNeue Light.otf");
}
@font-face {
  font-family: "bebasRegular";
  src: url("../fonts/bebasneue/BebasNeue Regular.otf");
}
@font-face {
  font-family: "bebasThin";
  src: url("../fonts/bebasneue/BebasNeue Thin.otf");
}
.button_container {
  position: fixed;
  top: 10%;
  right: 5%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 1s ease;
  opacity: .3;
}
.button_container:hover {
  opacity: 1;
}
.button_container.active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #9e2525;
}
.button_container.active .middle {
  opacity: 0;
  background: #9e2525;
}
.button_container.active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #9e2525;
}
.button_container span {
  background: #eef3f5;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
}
.overlay:before {
  content: '';
  background: #eef3f5;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: left .35s ease;
}
.overlay:after {
  content: '';
  background: #eef3f5;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: all .35s ease;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .55s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .65s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "bebasBook";
  font-weight: 400;
  text-align: center;
  z-index: 100;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #131819;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #131819;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
#skills-circle #base, #skills-circle #html-container #html, #skills-circle #sass-container #sass, #skills-circle #jquery-container #jquery, #skills-circle #js-container #js, #skills-circle #angular-container #angular, #skills-circle #php-container #php, #skills-circle #mysql-container #mysql, #skills-circle #git-container #git, #skills-circle #ai-container #ai, #skills-circle #ps-container #ps, #skills-circle #cordova-container #cordova, #skills-circle #java-container #java, #skills-circle #laravel-container #laravel, #skills-circle #swift-container #swift, #skills-circle #android-container #android {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #131819;
  cursor: pointer;
  display: inline-block;
  margin: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
#skills-circle #base-fill, #skills-circle #html-container #html #fill, #skills-circle #sass-container #sass #fill, #skills-circle #jquery-container #jquery #fill, #skills-circle #js-container #js #fill, #skills-circle #angular-container #angular #fill, #skills-circle #php-container #php #fill, #skills-circle #mysql-container #mysql #fill, #skills-circle #git-container #git #fill, #skills-circle #ai-container #ai #fill, #skills-circle #ps-container #ps #fill, #skills-circle #cordova-container #cordova #fill, #skills-circle #java-container #java #fill, #skills-circle #laravel-container #laravel #fill, #skills-circle #swift-container #swift #fill, #skills-circle #android-container #android #fill {
  position: relative;
  height: 80px;
  width: 80px;
  background: #9e2525;
  top: 100%;
  opacity: 0.9;
  cursor: pointer;
}
#skills-circle #full, #skills-circle #html-container #html, #skills-circle #html-container #html #fill, #skills-circle #sass-container #sass, #skills-circle #sass-container #sass #fill, #skills-circle #angular-container #angular, #skills-circle #angular-container #angular #fill, #skills-circle #ai-container #ai, #skills-circle #ai-container #ai #fill, #skills-circle #cordova-container #cordova, #skills-circle #cordova-container #cordova #fill, #skills-circle #swift-container #swift, #skills-circle #swift-container #swift #fill, #skills-circle #android-container #android, #skills-circle #android-container #android #fill {
  height: 160px;
  width: 160px;
}
#skills-circle #html-container {
  opacity: 0;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#skills-circle #html-container #html {
  background-image: url("../img/svg/logo_html.svg");
}
#skills-circle #sass-container {
  opacity: 0;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#skills-circle #sass-container #sass {
  background-image: url("../img/svg/logo_sass.svg");
}
#skills-circle #jquery-container {
  opacity: 0;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#skills-circle #jquery-container #jquery {
  background-image: url("../img/svg/logo_jquery.svg");
}
#skills-circle #js-container {
  opacity: 0;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
#skills-circle #js-container #js {
  background-image: url("../img/svg/logo_js.svg");
}
#skills-circle #angular-container {
  opacity: 0;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
#skills-circle #angular-container #angular {
  background-image: url("../img/svg/logo_angular.svg");
}
#skills-circle #php-container {
  opacity: 0;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
#skills-circle #php-container #php {
  background-image: url("../img/svg/logo_php.svg");
}
#skills-circle #mysql-container {
  opacity: 0;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
#skills-circle #mysql-container #mysql {
  background-image: url("../img/svg/logo_mysql.svg");
}
#skills-circle #git-container {
  opacity: 0;
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
#skills-circle #git-container #git {
  background-image: url("../img/svg/logo_git.svg");
}
#skills-circle #ai-container {
  opacity: 0;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
#skills-circle #ai-container #ai {
  background-image: url("../img/svg/logo_ai.svg");
}
#skills-circle #ps-container {
  opacity: 0;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
#skills-circle #ps-container #ps {
  background-image: url("../img/svg/logo_ps.svg");
}
#skills-circle #cordova-container {
  opacity: 0;
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -ms-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
#skills-circle #cordova-container #cordova {
  background-image: url("../img/svg/logo_cordova.svg");
}
#skills-circle #java-container {
  opacity: 0;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
#skills-circle #java-container #java {
  background-image: url("../img/svg/logo_java.svg");
}
#skills-circle #laravel-container {
  opacity: 0;
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -ms-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
#skills-circle #laravel-container #laravel {
  background-image: url("../img/svg/logo_laravel.svg");
}
#skills-circle #swift-container {
  opacity: 0;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#skills-circle #swift-container #swift {
  background-image: url("../img/svg/logo_swift.svg");
}
#skills-circle #android-container {
  opacity: 0;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
#skills-circle #android-container #android {
  background-image: url("../img/svg/logo_android.svg");
}

*::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background: #131819;
}

*::-webkit-scrollbar-thumb {
  background: #9e2525;
}

*::selection {
  color: #9e2525;
  opacity: 0.5;
}

#intro-section {
  background: #131819;
  text-align: center;
  overflow: hidden;
}

#skills-section {
  background: #eef3f5;
  z-index: 1;
}
#skills-section #side-by-side, #skills-section #light-side, #skills-section #dark-side {
  position: absolute;
  top: 0;
  bottom: 0;
}
#skills-section #light-side {
  background: #eef3f5;
  color: #131819;
  left: 0;
  overflow: scroll;
}
#skills-section #dark-side {
  background: #131819;
  color: #eef3f5;
  right: 0;
}

.background-image, #top-image, #back-image {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#top-image {
  background: url("../img/svg/bg_dynamic.svg") no-repeat -25px -50px;
  z-index: 1;
  background-size: cover;
}

#back-image {
  background: url("../img/svg/bg_static.svg") no-repeat -25px -50px;
  z-index: 0;
  background-size: cover;
}

#awesm-header, #awesm-header-dark, #awesm-header-light {
  font-family: "bebasBook";
  cursor: pointer;
  padding: 0 0.2em;
  display: inline-block;
  line-height: 1em;
  font-size: 8vmin;
}

#awesm-header-dark {
  color: #eef3f5;
  background: #131819;
  opacity: 0;
}

#awesm-header-light {
  color: #131819;
  background: #eef3f5;
  opacity: 0;
}

.typed-cursor {
  opacity: 1;
  font-size: 12vmin;
  color: #eef3f5;
  position: relative;
  top: -5px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#toTypeString {
  display: none;
}

.centerString {
  display: inline;
  width: 50%;
  margin: 0 auto;
}
.centerString .staticString {
  font-size: 25vmin;
  font-family: "bebasRegular";
  color: #eef3f5;
  line-height: 80%;
}
.centerString .emp {
  color: #9e2525;
}
.centerString #typedString {
  display: inline-block;
  font-size: 12vmin;
  font-family: "bebasBook";
  color: #eef3f5;
  line-height: 80%;
}

/*# sourceMappingURL=main.css.map */
