@import "partials/variables";
@import "partials/mixins";
@import "partials/fullpagenav";
@import "partials/skills";
// ===============================
// SCROLL BAR | SELECTION
// ===============================

*::-webkit-scrollbar {
    width: 0.7em;
    height: 0.7em;
    background: $dark;
}

*::-webkit-scrollbar-thumb {
    background: $accent;
}

*::selection {
    color: $accent;
    opacity: 0.5;
}
// ===============================
// SECTIONS
// ===============================

#intro-section {
    background: $dark;
    text-align: center;
    overflow: hidden;
}

#skills-section {
    background: $light;
    z-index: 1;

    #side-by-side {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    #light-side {
        @extend #side-by-side;
        background: $light;
        color: $dark;
        left: 0;
        overflow: scroll;
    }

    #dark-side {
        @extend #side-by-side;
        background: $dark;
        color: $light;
        right: 0;
    }
}
// ===============================
// MOVING BACKGROUND
// ===============================

.background-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

#top-image {
    @extend .background-image;
    background: url($imageTop) no-repeat -25px -50px;
    z-index: 1;
    background-size: cover;
}

#back-image {
    @extend .background-image;
    background: url($imageBack) no-repeat -25px -50px;
    z-index: 0;
    background-size: cover;
}
// ===============================
// HEADER
// ===============================

#awesm-header {
    font-family: $bBook;
    cursor: pointer;
    padding: 0 0.2em;
    display: inline-block;
    line-height: 1em;
    font-size: 8vmin;
}

#awesm-header-dark {
    @extend #awesm-header;
    color: $light;
    background: $dark;
    opacity: 0;
}

#awesm-header-light {
    @extend #awesm-header;
    color: $dark;
    background: $light;
    opacity: 0;
}
// ===============================
// TYPED
// ===============================

.typed-cursor {
    opacity: 1;
    font-size: $dynamicFontSize;
    color: $light;
    position: relative;
    top: -5px;
    @include animation(blink, 0.7s, infinite);
}
@include keyframes {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#toTypeString {
    display: none;
}

.centerString {
    display: inline;
    width: 50%;
    margin: 0 auto;

    .staticString {
        font-size: $staticFontSize;
        font-family: $bRegular;
        color: $light;
        line-height: 80%;
    }

    .emp {
        color: $accent;
    }

    #typedString {
        display: inline-block;
        font-size: $dynamicFontSize;
        font-family: $bBook;
        color: $light;
        line-height: 80%;
    }
}
