@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/skills';
@import 'partials/skills-mobile';
@import 'partials/fullpagenav';
@include keyframes {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
// ===============================
// SCROLL BAR | SELECTION
// ===============================

*::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background: $dark;
}

*::-webkit-scrollbar-thumb {
    opacity: 0.7;
    background: $accent;
}

*::selection {
    opacity: 0.5;
    color: $accent;
}
// ===============================
// SECTIONS
// ===============================

#intro-section {
    overflow: hidden;
    text-align: center;
    background: $dark;

    .scroll-down {
        position: absolute;
        z-index: 100;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 0 2em;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        opacity: 0;

        #triangle {
            width: 0;
            height: 0;
            border-top: 30px solid $light;
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;
        }
    }
}

#skills-section {
    z-index: 1;
    background: $dark;
    background-image: url($imageTop);
    background-size: contain;

    #skills-section-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    // #side-by-side {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    // }
    //
    // #light-side {
    //     @extend #side-by-side;
    //     left: 0;
    //     color: $dark;
    //     background: $light;
    // }
    //
    // #dark-side {
    //     @extend #side-by-side;
    //     right: 0;
    //     color: $light;
    //     background: $dark;
    // }
}
// ===============================
// MOVING BACKGROUND
// ===============================

.background-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.top-image {
    z-index: 1;
    background: url($imageTop) no-repeat -25px -50px;
    background-size: cover;
    @extend .background-image;
}

.back-image {
    z-index: 0;
    background: url($imageBack) no-repeat -25px -50px;
    background-size: cover;
    @extend .background-image;
}
// ===============================
// HEADER
// ===============================

.awesm-header {
    font-family: $bBook;
    font-size: 8vmin;
    line-height: 1em;
    display: inline-block;
    padding: 0 0.5em;
    cursor: pointer;
}

.awesm-header-dark {
    position: absolute;
    z-index: 100;
    opacity: 0;
    color: $light;
    background: $dark;
    @extend .awesm-header;
}

.awesm-header-light {
    position: absolute;
    z-index: 100;
    opacity: 0;
    color: $dark;
    background: $light;
    @extend .awesm-header;
}
// ===============================
// TYPED
// ===============================

.typed-cursor {
    font-size: $dynamicFontSize;
    position: relative;
    top: -5px;
    opacity: 1;
    color: $light;
    @include animation(blink, .7s, infinite);
}

#toTypeString {
    display: none;
}

.centerString {
    display: inline;
    width: 50%;
    margin: 0 auto;

    .staticString {
        font-family: $bRegular;
        font-size: $staticFontSize;
        line-height: 80%;
        color: $light;
    }

    .emp {
        color: $accent;
    }

    #typedString {
        font-family: $bBook;
        font-size: $dynamicFontSize;
        line-height: 80%;
        display: inline-block;
        color: $light;
    }
}
