<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Portfolio of Artemio A. San Diego | Aspiring Front End Web Developer">
    <meta name="author" content="Artemio A. San Diego | November 2016">
    <title>Artisawesm | Portfolio</title>
    <link rel="shortcut icon" type="image/png" href="img/png/artsandiego.png">

    <!-- <link rel="stylesheet" href="css/vendor/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="css/vendor/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/vendor/jquery.fullPage.css">
    <link rel="stylesheet" href="css/vendor/animate.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ANGULAR STUFF -->
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>

<body ng-app="myApp">
    <!-- ================================ -->
    <div id="toTypeString">
        <p>Aspiring <span class="emp">Front end web developer</span></p>
        <p><span class="emp">Web | Graphic designer</span> wanna be</p>
        <p>this is my <span class="emp">Story.</span></p>
    </div>

    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#skills">Skills &amp; Interests</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- ================================ -->

    <div id="fullpage">
        <!-- // =============================== -->
        <!-- // INTRO SECTION -->
        <!-- // =============================== -->
        <div class="section" id="intro-section">
            <div class="top-image"></div>
            <div class="back-image"></div>
            <div class="container-fluid">
                <div class="centerString">
                    <span class="staticString">Hello, I'm <span class="emp">Art</span></span><br/>
                    <span id="typedString"></span>
                    <div class="scroll-down animated bounce" id="scroll-indicator"><a href="#skills"><span id="triangle"></span></a></div>
                </div>
            </div>
        </div>
        <!-- // =============================== -->
        <!-- // SKILLS SECTION -->
        <!-- // =============================== -->
        <div class="section" id="skills-section">
            <div class="above"></div>
            <!-- <div class="container-fluid"> -->
                <div id="skills-section-content" ng-controller="MainController">
                    <div class="skills-grid">
                        <h1 class="awesm-header-dark">Skills &amp; Interests</h1>
                        <div class="percentPosition"></div>
                        <div ng-cloak ng-repeat="skillA in skillsA" class="skills-grid-item" id="{{ skillA.container }}"><div class="level"><span class="level-value">0 %</span></div><div class="shade"><h1>{{skillA.title}}</h1></div><div id="{{ skillA.content }}"></div></div>
                        <div class="skills-grid-item" id="laravel-container"><div class="desc"><h1>{{ laravelDescription }}</h1></div><div class="shade"><h1>Laravel</h1></div><div id="laravel"></div></div>
                        <div ng-cloak ng-repeat="skillB in skillsB" class="skills-grid-item" id="{{ skillB.container }}"><div class="level"><span class="level-value">0 %</span></div><div class="shade"><h1>{{skillB.title}}</h1></div><div id="{{ skillB.content }}"></div></div>
                        <div class="skills-grid-item" id="swift-container"><div class="desc"><h1>{{ swiftDescription }}</h1></div><div class="shade"><h1>Swift</h1></div><div id="swift"></div></div>
                        <div ng-cloak ng-repeat="skillC in skillsC" class="skills-grid-item" id="{{ skillC.container }}"><div class="level"><span class="level-value">0 %</span></div><div class="shade"><h1>{{skillC.title}}</h1></div><div id="{{ skillC.content }}"></div></div>
                        <div class="skills-grid-item" id="cordova-container"><div class="desc"><h1>{{ cordovaDescription }}</h1></div><div class="shade"><h1>Cordova</h1></div><div id="cordova"></div></div>
                    </div>
                    <!-- MOBILE VIEW -->
                    <div class="skills-mobile">
                        <div class="container-fluid">
                            <div ng-cloak ng-repeat="mSkill in mSkills" class="row wow animated flipInX" id="{{ mSkill.container }}"><div class="col-xs-4 mobile-image"></div><div class="col-xs-8 mobile-level"><div class="mobile-fill"></div></div></div>
                            <div class="row wow animated flipInX" id="cordova-mobile"><div class="col-xs-4 mobile-image"></div><div class="col-xs-8 mobile-level"><div class="mobile-desc"><h1>{{ cordovaDescription }}</h1></div></div></div>
                            <div class="row wow animated flipInX" id="laravel-mobile"><div class="col-xs-4 mobile-image"></div><div class="col-xs-8 mobile-level"><div class="mobile-desc"><h1>{{ laravelDescription }}</h1></div></div></div>
                            <div class="row wow animated flipInX" id="swift-mobile"><div class="col-xs-4 mobile-image"></div><div class="col-xs-8 mobile-level"><div class="mobile-desc"><h1>{{ swiftDescription }}</h1></div></div></div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <!-- // =============================== -->
        <!-- // PROJECT SECTION -->
        <!-- // =============================== -->
        <div class="section" id="project-section">

        </div>
    </div>

    <!-- JQUERY STUFF -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/vendor/wow.min.js"></script>
    <script type="text/javascript" src="js/vendor/typed.js"></script>
    <script type="text/javascript" src="js/vendor/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.animateNumber.min.js"></script>
    <!-- MAIN JS -->
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
