@mixin animation($type, $speed, $range) {
    -webkit-animation: $type $speed $range;
    -moz-animation: $type $speed $range;
    -ms-animation: $type $speed $range;
    -o-animation: $type $speed $range;
    animation: $type $speed $range;
}
@mixin keyframes {
     @-webkit-keyframes blink{
        @content;
    }
    @-moz-keyframes blink {
         @content;
    }
    @-o-keyframes blink {
         @content;
    }
    @keyframes blink {
         @content;
    }
}
@mixin delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}
