.skills-mobile{

    // overflow: scroll;
    background: $dark;

    .master-image{
        background: $light;
        height: $masterHeight;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 0.2em;
    }

    .master-level{
        background: $light;
        height: $masterHeight;
        .mobile-fill{
            height: $masterHeight;
            width: 0%;
            background: $accent;
            border-right: 2px solid $dark;
        }
    }

    .mobile-desc{
        opacity: .9;
        h1{
            color: $light;
            font-size: 5vmin;
            font-family: $bBook;
            text-align: center;
            z-index: 1;
        }
    }

    #html-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageHtml);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #sass-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageSass);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #jquery-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageJquery);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #js-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageJs);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #angular-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageAngular);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #php-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imagePhp);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #mysql-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageMysql);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #git-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageGit);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #ai-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageAi);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #ps-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imagePs);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #android-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageAndroid);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #java-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageJava);
        }
        .mobile-level{
            @extend .master-level;
        }
    }
    #laravel-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageLaravel);
        }
        .mobile-level{
            @extend .master-level;
            background: $dark;
        }
    }
    #cordova-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageCordova);
        }
        .mobile-level{
            @extend .master-level;
            background: $dark;
        }
    }
    #swift-mobile{
        .mobile-image{
            @extend .master-image;
            background-image: url($imageSwift);
        }
        .mobile-level{
            @extend .master-level;
            background: $dark;
        }
    }
}
