.skills-grid {
    box-sizing: border-box;

    .percentPosition {
        width: $masterWidth;
    }

    // #base {
    //     height: $masterHeight;
    //     width: $masterWidth;
    //     // border-radius: 50%;
    //     background: $light;
    //     cursor: pointer;
    //     border: 0.5px solid $dark;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: contain;
    //     overflow: hidden;
    // }
    //
    // #base-fill {
    //     height: $masterHeight;
    //     width: $masterWidth;
    //     position: relative;
    //     background: $accent;
    //     top: 100%;
    //     opacity: 0.9;
    //     cursor: pointer;
    // }
    //
    // #full{
    //     height: $masterHeight * 2;
    //     width: $masterWidth * 2
    // }
// ======================================
    .master-container{
        opacity: 0;
        background: $light;
        height: $masterHeight;
        width: $masterWidth;
        overflow: hidden;
        border: 0.5px solid $dark;
        cursor: pointer;

        &:hover .master-content{
            transform: scale(1.2);
            filter: blur(0px);
        }
    }

    .master-fill{
        background: rgba(115, 12, 12, 0.79);
        position: absolute;
        height: $masterHeight;
        width: 100%;
        // left: -100%;
        top: 100%;
        z-index: 1;
        cursor: pointer;
        // border-right: .3em solid $dark;
        // border-top: .3em solid $dark;
    }

    .master-content{
        //centering stuff
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        transition: all 1s;
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
        cursor: pointer;
        filter: blur(3px);
        transition: all 1s;
    }

    .larger {
        height: $masterHeight * 2;
        width: $masterWidth * 2;
    }

    .larger-fill{
        height: $masterHeight * 2;
    }

    //LARGER///////////////////////////

    #html-container {
        @include delay(.1s);
        @extend .master-container, .larger;

        .fill {
            @extend .master-fill, .larger-fill;
        }

        #html {
            @extend .master-content;
            background-image: url($imageHtml);
        }
    }

    #sass-container {
        @include delay(0.2s);
        @extend .master-container, .larger;

        .fill {
            @extend .master-fill, .larger-fill;
        }

        #sass {
            @extend .master-content;
            background-image: url($imageSass);
        }
    }

    #jquery-container {
        @include delay(0.3s);
        @extend .master-container, .larger;

        .fill {
            @extend .master-fill, .larger-fill;
        }

        #jquery {
            @extend .master-content;
            background-image: url($imageJquery);
        }
    }

    #php-container {
        @include delay(0.4s);
        @extend .master-container, .larger;

        .fill {
            @extend .master-fill, .larger-fill;
        }

        #php {
            @extend .master-content;
            background-image: url($imagePhp);
        }
    }

    #ai-container {
        @include delay(0.5s);
        @extend .master-container, .larger;

        .fill {
            @extend .master-fill, .larger-fill;
        }

        #ai {
            @extend .master-content;
            background-image: url($imageAi);
        }
    }

    //NORMAL///////////////////////////

    #js-container {
        @include delay(0.6s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #js {
            @extend .master-content;
            background-image: url($imageJs);
        }
    }

    #angular-container {
        @include delay(0.7s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #angular {
            @extend .master-content;
            background-image: url($imageAngular);
        }
    }

    #mysql-container {
        @include delay(0.8s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #mysql {
            @extend .master-content;
            background-image: url($imageMysql);
        }
    }

    #git-container {
        @include delay(0.9s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #git {
            @extend .master-content;
            background-image: url($imageGit);
        }
    }

    #ps-container {
        @include delay(1s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #ps {
            @extend .master-content;
            background-image: url($imagePs);
        }
    }

    #cordova-container {
        @include delay(1.1s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #cordova {
            @extend .master-content;
            background-image: url($imageCordova);
        }
    }

    #java-container {
        @include delay(1.2s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #java {
            @extend .master-content;
            background-image: url($imageJava);
        }
    }

    #laravel-container {
        @include delay(1.3s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #laravel {
            @extend .master-content;
            background-image: url($imageLaravel);
        }
    }

    #swift-container {
        @include delay(1.4s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #swift {
            @extend .master-content;
            background-image: url($imageSwift);
        }
    }

    #android-container {
        @include delay(1.5s);
        @extend .master-container;

        .fill {
            @extend .master-fill;
        }

        #android {
            @extend .master-content;
            background-image: url($imageAndroid);
        }
    }

    // #html-container {
    //     opacity: 0;
    //     @include delay(0s);
    //
    //     #html {
    //         @extend #base, #full;
    //         background-image: url($imageHtml);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }

    // #sass-container {
    //     opacity: 0;
    //     @include delay(0.1s);
    //
    //     #sass {
    //         @extend #base, #full;
    //         background-image: url($imageSass);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }

    // #jquery-container {
    //     opacity: 0;
    //     @include delay(0.2s);
    //
    //     #jquery {
    //         @extend #base, #full;
    //         background-image: url($imageJquery);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }

    // #js-container {
    //     opacity: 0;
    //     @include delay(0.3s);
    //
    //     #js {
    //         @extend #base;
    //         background-image: url($imageJs);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }

    // #angular-container {
    //     opacity: 0;
    //     @include delay(0.4s);
    //
    //     #angular {
    //         @extend #base;
    //         background-image: url($imageAngular);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }

    // #php-container {
    //     opacity: 0;
    //     @include delay(0.5s);
    //
    //     #php {
    //         @extend #base, #full;
    //         background-image: url($imagePhp);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }

    // #mysql-container {
    //     opacity: 0;
    //     @include delay(0.6s);
    //
    //     #mysql {
    //         @extend #base;
    //         background-image: url($imageMysql);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }

    // #git-container {
    //     opacity: 0;
    //     @include delay(0.7s);
    //
    //     #git {
    //         @extend #base;
    //         background-image: url($imageGit);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }

    // #ai-container {
    //     opacity: 0;
    //     @include delay(0.8s);
    //
    //     #ai {
    //         @extend #base, #full;
    //         background-image: url($imageAi);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }

    // #ps-container {
    //     opacity: 0;
    //     @include delay(0.9s);
    //
    //     #ps {
    //         @extend #base;
    //         background-image: url($imagePs);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }
    //
    // #cordova-container {
    //     opacity: 0;
    //     @include delay(1s);
    //
    //     #cordova {
    //         @extend #base;
    //         background-image: url($imageCordova);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }
    //
    // #java-container {
    //     opacity: 0;
    //     @include delay(1.1s);
    //
    //     #java {
    //         @extend #base;
    //         background-image: url($imageJava);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }

    // #laravel-container {
    //     opacity: 0;
    //     @include delay(1.2s);
    //
    //     #laravel {
    //         @extend #base;
    //         background-image: url($imageLaravel);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }
    //
    // #swift-container {
    //     opacity: 0;
    //     @include delay(1.3s);
    //
    //     #swift {
    //         @extend #base;
    //         background-image: url($imageSwift);
    //
    //         .fill {
    //             @extend #base-fill, #full;
    //         }
    //     }
    // }
    //
    // #android-container {
    //     opacity: 0;
    //     @include delay(1.4s);
    //
    //     #android {
    //         @extend #base;
    //         background-image: url($imageAndroid);
    //
    //         .fill {
    //             @extend #base-fill;
    //         }
    //     }
    // }
}
